{% extends 'main.html'%}

{% block crud_container %}
<section class="container-fluid">
    <form method="post" action="/user">
        <div class="col-auto">
            <div class="input-group mb-3">
                <input type="text" name="username" class="form-control" placeholder="Enter username" aria-label="Username" aria-describedby="button-addon2"/>
                <input type="number" name="age" class="form-control" placeholder="Enter age" aria-label="Age" aria-describedby="button-addon2"/>
                <button class="btn btn-outline-primary" type="submit" id="button-addon2" data-mdb-ripple-color="dark">
                    Add User
                 </button>
            </div>
        </div>
    </form>
</section>

{% if user %}
    <article class="card container-fluid">
        <br>
        <h2>ID: {{ user.id }}</h2>
        <p>
            <strong>Username: {{ user.username }}</strong><br>
            <strong>Age: {{ user.age }}</strong>
        </p>
    </article>
{% else %}
    <section class="container-fluid">
        <h2 align="center">Users</h2>
        <br>
        <div class="card">
            <ul class="list-group list-group-flush">
                <!-- Перебор списка пользователей -->
                {% for user in users %}
                    <li class="list-group-item">
                        ID: {{ user.id }} - <a href="/users/{{ user.id }}"> {{ user.username }} </a> ({{ user.age }} years old)
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endif %}
{% endblock %}
